@import "variables";
@import "mixins";


.formule {
    display: flex;
    justify-content: start;
    padding: 0 20px 0 5px;
    width: 100%;

    &__icon {
        width: 36px;
        height: 48px;
        font-size: 28px;
        font-style: italic; 
        margin-right: 10px;  
        margin-left: 10px;      
    }
        
}
