@import "variables";
@import "mixins";

.header {
        display: flex;       
        justify-content: space-between;        
        padding: 25px 25px 15px 5px;        

    &__wrapper {
        display: flex;             
    }     
    
    &__logo {
        width: 36px;
        height: 48px;
        margin-right: 10px;
        background-image: url('../images/logo.jpg');
        background-size:contain;
        background-repeat: no-repeat;        
    }
    
}


